.root {
  /*-fx-background-image: url("../images/icons8_food_72px.png");*/
  -fx-background-repeat: no-repeat;
  -fx-background-position: 50% 50%;
  -fx-background-size: contain;
}


.bg-primary {
-fx-background-color: #3086c4;
}

.btn-primary {
-fx-background-color: #3086c4;
-fx-text-fill: #fff;
}

.primary {
-fx-text-fill: #3086c4;
}

.button {
  -fx-background-color: transparent;
  -fx-text-fill: rgb(34, 33, 33);

  /*-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
*/
}
.button:hover {
  -fx-background-color: #393a4d;
  -fx-text-fill: rgb(243, 240, 240);
}
.button:pressed {
  -fx-background-color: #3c3c3e;
  -fx-text-fill: rgb(205, 205, 205);
}

.scroll-pane {
  -fx-background-color: #e9ecfa;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.increment-button,
.decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #7278bc;
  -fx-background-radius: 5em;
}

.scroll-pane > .corner {
  -fx-background-color: rgb(252, 248, 248);
}

.rounded {
-fx-border-color: #2A73FF;
-fx-border-radius: 20;
-fx-background-color: transparent;
-fx-padding: 5px;
}

.title {
    -fx-font-size: 14px;
    -fx-text-fill: #5120b0;
}